<%- include ../../partials/header.ejs %> 
<%- include ../../partials/homenavbar.ejs %>

<body>
  <hr>
  <div class="container">
    <hr>
    <% result.articles.rows.map(article => {%>
    <div class="card">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a class="btn btn-success" href="/<%= article.slug %>">Ler artigo</a>
      </div>
    </div>
    <br />
    <%})%>

    <div class="row">
      <%if (result.page > 2) {%>
        <div class="col col-12" ><a style="float:left" href="/articles/page/<%= result.page - 1 %>"><<< Prev</a></div>
      <%} else if (result.page == 2) {%>
        <div class="col col-12" ><a style="float:left" href="/"><<< Prev</a></div>
      <%}%>

      <%if (result.next) {%>
        <div class="col col-12" ><a style="float:right" href="/articles/page/<%= result.page + 1 %>">Next >>></a></div>
      <%}%>
      
      <hr>
    </div>
  </div>
</body>

<%- include ../../partials/footer.ejs %>
